{
    type: 'esri-mapServer',
    url: 'http://censusdata.abs.gov.au/arcgis/rest/services/ASGS2016/ASGS2016BoundariesOnline/MapServer/<%= layer %>',
    name: "<%= name %>",
    info: [
        {
            name: 'Description',
            content: 'The ABS Geospatial Web Services provide access to the ASGS boundaries. The objectives of publishing the ASGS boundaries as web services are:<ol><li>
To provide easy access to the official ASGS boundaries in a machine readable format which facilitates their use within web applications.</li><li>
To provide an unambiguous single point of truth for the ASGS boundaries.</li></ol><br/><a href="http://www.abs.gov.au/AUSSTATS/abs@.nsf/Latestproducts/1470.0Main%20Features12015">More information</a>.'
        },

        {
            name: 'Licence',
            content: '[CC-BY 2.5](http://www.abs.gov.au/websitedbs/D3310114.nsf/4a256353001af3ed4b2562bb00121564/8b2bdbc1d45a10b1ca25751d000d9b03)'
        }   
    ]
}