     {
	"name": "EclipseTracks",
	"description": "Interactive Solar Eclipses<br/>Files from <a href='http://eclipsetracks.org'>eclipsetracks.org</a><br/>Umbral shadows are approximations only! <a href='http://squiggle.city/~frencil/archives/20150317.html'>Details here.</a>",
	"type": "group",
	"items": [
	   {
		"name": "2017-08-21",
		"type": "czml",
		"url": "geo-data/eclipsetracks/2017-08-21.czml",
		"description": "Total, Central America, North America, North Atlantic, and North Pacific"
	   }
	]
     },
