     {
	"name": "EclipseTracks",
	"description": "Interactive Solar Eclipses from EclipseTracks.org<br/>Source Code: <a href='https://github.com/Frencil/eclipsetracks'>https://github.com/Frencil/eclipsetracks</a><br/>Umbral shadows are approximations only! <a href='http://squiggle.city/~frencil/archives/20150317.html'>Details here</a>",
	"type": "group",
	"items": [
	   {
		"name": "2017-08-21",
		"type": "czml",
		"url": "geo-data/eclipsetracks/2017-08-21.czml",
		"description": "Type: Total<br/>Region: Central America, North America, North Atlantic, and North Pacific"
	   },
	   {
		"name": "2019-07-02",
		"type": "czml",
		"url": "geo-data/eclipsetracks/2019-07-02.czml",
		"description": "Type: Total<br/>Region: South America and South Pacific"
	   },
	   {
		"name": "2019-12-26",
		"type": "czml",
		"url": "geo-data/eclipsetracks/2019-12-26.czml",
		"description": "Type: Annular<br/>Region: Indian Ocean, Middle East, North Pacific, and Southeastern Asia"
	   },
	   {
		"name": "2020 - 2029",
		"description": "Eclipses 2020 - 2029",
		"type": "group",
		"items": [
		   {
			"name": "2020-06-21",
			"type": "czml",
			"url": "geo-data/eclipsetracks/2020-06-21.czml",
			"description": "Type: Annular<br/>Region: Middle East, Northern Africa, and Southeastern Asia"
		   }
		]
	   }
	]
     },
