     {
	"name": "Environment",
	"description": "Environmental paramters such as magnetism, earthquakes, volcanos and geological maps.", 
	"type": "group",
	"items": [
	   {
		"name": "Biogeography",
		"description": "Biogeography is the study of the distribution of species and ecosystems in geographic space and through geological time. Organisms and biological communities often vary in a regular fashion along geographic gradients of latitude, elevation, isolation and habitat area."
		"type": "group",
		"items": [
		   {
			"name": "Terrestrial Ecoregions",
			"description": "Terrestrial Ecoregions of the World (TEOW) is a bio-geographic regionalization of the Earth's terrestrial biodiversity. TEOW uses ecoregions to represent the original distribution of distinct assemblages of species and communities across the globe.",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
                        "url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
                        "layers": "terrestrial_ecoregions",
                        "parameters": {
                                "tiled": true
                        },
                        "dataUrlType": "none"
		   }
		]
	   },
	   {
		"name": "Earth Magnetic Field",
		"description": "Earth's magnetic field (and the surface magnetic field) is approximately a magnetic dipole, with the magnetic field S pole near the Earth's geographic north pole and the other magnetic field N pole near the Earth's geographic south pole.",
		"type": "group",
		"items": [
		   {
			"name": "Shift North Pole",
			"description": "Shift North Pole",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "czml",
			"url": "/api/sites/environment/pole_north"
		   },
		   {
			"name": "Shift South Pole",
			"description": "Shift South Pole",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "czml",
			"url": "/api/sites/environment/pole_south"
		   },
		   {
			"name": "Earth Magnetic Anomaly Grid",
			"description": "EMAG2: Earth Magnetic Anomaly Grid (2-arc-minute resolution) Magnetic anomaly maps provide insight into the subsurface structure and composition of the Earth's crust. Anomalies trending parallel to the isochrons (lines of equal age) in the oceans reveal ...",
			"dataCustodian": "[maps.ngdc.noaa.gov](https://maps.ngdc.noaa.gov/)",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/emag2/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "EMAG2 Image",
			"parameters": {
				"tiled": true
			}
		   },
		   {
			"name": "WMM-2015-15min",
			"description": "World Magnetic Field 2015",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
			"layers": "wmm_2015_15min",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "WMM-2016-15min",
			"description": "World Magnetic Field 2016",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
			"layers": "wmm_2016_15min",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "WMM-2017-15min",
			"description": "World Magnetic Field 2017",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
			"layers": "wmm_2017_15min",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "WMM-2018-15min",
			"description": "World Magnetic Field 2018",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
			"layers": "wmm_2018_15min",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "WMM-2019-15min",
			"description": "World Magnetic Field 2019",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
			"layers": "wmm_2019_15min",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "WMM-2020-15min",
			"description": "World Magnetic Field 2020",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
			"layers": "wmm_2020_15min",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   }
		]
	   },
	   {
		"name": "Mines, Deposits and Occurrences",
		"description": "Mines, deposits and occurrences-maps",
		"type": "group",
		"items": [
		   {
			"name": "Mineral Resource Data System",
			"description": "Mineral Resource Data System",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://mrdata.usgs.gov/services/mrds?request=getcapabilities&service=WMS&version=1.1.1&",
			"layers": "mrds",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Rare Earth",
			"description": "Rare Earth",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://mrdata.usgs.gov/services/ree?request=getcapabilities&service=WMS&version=1.1.1&",
			"layers": "ree",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   }
		]
	   },
	   {
		"name": "Historical Natural Hazards",
		"type": "group",
		"items": [
		   {
			"name": "Tsunami Events",
			"description": "Tsunami Events",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/hazards/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "Tsunami Events by Cause/Fatalities",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Significant Earthquakes",
			"description": "Significant Earthquakes",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/hazards/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "Significant Earthquakes",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Significant Volcanic Eruptions",
			"description": "Significant Volcanic Eruptions",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/hazards/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "Significant Volcanic Eruptions",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   }
		]
	   },
	   {
		"name": "Earthquakes",
		"description": "The USGS Earthquake Hazards Program is part of the <a href='http://www.nehrp.gov/'>National Earthquake Hazards Reduction Program (NEHRP)</a>, established by Congress in 1977.",
		"type": "group",
		"items": [
		   {
			"name": "Past 1 Hour, All Earthquakes",
			"description": "Past 1 Hour, All Earthquakes",
			"dataCustodian": "[earthquake.usgs.gov](https://earthquake.usgs.gov)",
			"type": "geojson",
			"url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson"
		   },
		   {
			"name": "Past 1 Day, All Earthquakes",
			"description": "Past 1 Day, All Earthquakes",
			"dataCustodian": "[earthquake.usgs.gov](https://earthquake.usgs.gov)",
			"type": "geojson",
			"url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson"
		   },
		   {
			"name": "Past 7 Days, All Earthquakes",
			"description": "Past 7 Days, All Earthquakes",
			"dataCustodian": "[earthquake.usgs.gov](https://earthquake.usgs.gov)",
			"type": "geojson",
			"url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_week.geojson"
		   },
		   {
			"name": "Past 30 Days, All Earthquakes",
			"description": "Past 30 Days, All Earthquakes",
			"dataCustodian": "[earthquake.usgs.gov](https://earthquake.usgs.gov)",
			"type": "geojson",
			"url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson"
		   }
		]
	   },
	   {
		"name": "Geology",
		"type": "group",
		"items": [
		   {
			"name": "Paleo Plate Tectonics",
			"type": "group",
			"items": [
			   {
				"name": "20Ma years ago",
				"description": "Coastlines 20Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/20ma.json"
		 	   },
			   {
				"name": "40Ma years ago",
				"description": "Coastlines 40Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/40ma.json"
		 	   },
			   {
				"name": "60Ma years ago",
				"description": "Coastlines 60Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/60ma.json"
		 	   },
			   {
				"name": "80Ma years ago",
				"description": "Coastlines 80Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/80ma.json"
		 	   },
			   {
				"name": "100Ma years ago",
				"description": "Coastlines 100Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/100ma.json"
		 	   },
			   {
				"name": "120Ma years ago",
				"description": "Coastlines 120Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/120ma.json"
		 	   },
			   {
				"name": "140Ma years ago",
				"description": "Coastlines 140Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/140ma.json"
		 	   },
			   {
				"name": "160Ma years ago",
				"description": "Coastlines 160Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/160ma.json"
		 	   },
			   {
				"name": "180Ma years ago",
				"description": "Coastlines 180Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/180ma.json"
		 	   },
			   {
				"name": "200Ma years ago",
				"description": "Coastlines 200Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "geo-data/plate_tectonics/200ma.json"
		 	   }
			]
		   },
		   {
			"name": "World CGMW 1:50M",
			"type": "group",
			"items": [
			   {
				"name": "Geological Units Onshore",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_GeologicalUnitsOnshore",
				"parameters": {
					"tiled": true
				}
			   },
			   {
				"name": "Geological Units Offshore",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_GeologicalUnitsOffshore",
				"parameters": {
					"tiled": true
				}
		 	   },
			   {
				"name": "Oceanic Plateau",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_OceanicPlateau",
				"parameters": {
					"tiled": true
				}
		 	   },
			   {
				"name": "Over Features",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_OverFeatures",
				"parameters": {
					"tiled": true
				}
		 	   },
			   {
				"name": "Structural",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_Structural",
				"parameters": {
					"tiled": true
				}
		 	   }
			]
		   },
		   {
			"name": "Eurasia CGMW 1:12,5M",
			"type": "group",
			"items": [
			   {
				"name": "Geological Units",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "Eurasia_CGMW_12500K_GeologicalUnits",
				"parameters": {
					"tiled": true
				}
			   },
			   {
				"name": "Over Features",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "Eurasia_CGMW_12500K_OverFeatures",
				"parameters": {
					"tiled": true
				}
			   },
			   {
				"name": "Structural",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "Eurasia_CGMW_12500K_Structural",
				"parameters": {
					"tiled": true
				}
		 	   }
			]
		   }
		]
	   },
	   {
		"name": "Volcanos",
		"type": "group",
		"items": [
		   {
			"name": "Volcano Database",
			"description": "<img src='images/catalog/volcano.jpg' width='100%' alt='Volcano'><br/>Volcano Database",
			"dataCustodian": "[www.ngdc.noaa.gov](https://www.ngdc.noaa.gov)",
			"type": "czml",
			"url": "/api/sites/environment/volcanos"
		   },
		   {
			"name": "Volcanic Activity",
			"description": "USGS Weekly Volcanic Activity Report",
			"dataCustodian": "[volcano.si.edu](http://volcano.si.edu)",
			"type": "kmz",
			"url": "http://www.volcano.si.edu/news/WeeklyVolcanoGE-Reports.kmz"
		   }
		]
	   },
	   {
		"name": "Water & Ice",
		"type": "group",
		"items": [
		   {
			"name": "Rivers",
			"description": "Rivers",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
			"layers": "rivers",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Antarctic Ice Shelves",
			"description": "Antarctic Ice Shelves",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
			"layers": "antarctic_ice_shelves",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Glaciated Areas",
			"description": "Glaciated Areas",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://maps.leylines.ch:8443/geoserver/environment/wms",
			"layers": "glaciated_areas",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   }
		]
	   },
	   {
		"name": "Misc",
		"type": "group",
		"items": [
		   {
			"name": "Age of the Oceanic Lithosphere",
			"dataCustodian": "https://maps.ngdc.noaa.gov/",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/seafloor_age/MapServer/WMSServer",
			"layers": "Age of Oceanic Lithosphere - millions of years",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "https://www.ngdc.noaa.gov/mgg/ocean_age/ocean_age_2008.html"
		   },
		   {
			"name": "Plate Boundaries - UTIG",
			"description": "Plate Boundaries - UTIG",
			"dataCustodian": "https://maps.ngdc.noaa.gov/",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/seafloor_age/MapServer/WMSServer",
			"layers": "Plate Boundaries - UTIG",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "https://www.ngdc.noaa.gov/mgg/ocean_age/ocean_age_2008.html"
		   },
		   {
			"name": "Storms",
			"description": "Hurricane Model Plots",
			"dataCustodian": "https://www.sfwmd.gov",
			"type": "kml",
			"url": "geo-data/storms/storm_all.kml",
			"dataUrlType": "none"
		   },
		   {
			"name": "World Cable Map (Greg's Cable Map)",
			"description": "Greg's Cable Map is an attempt to consolidate all the available information about the undersea communications infrastructure.",
			"dataCustodian": "http://www.cablemap.info/",
			"type": "kml",
			"url": "http://www.cablemap.info/cablemap.info.aspx",
			"dataUrlType": "none"
		   }
		]
	   }
	]
     },
