     {
	"name": "Environment",
	"description": "Environmental paramters such as magnetism, earthquakes, volcanos and geological maps.", 
	"type": "group",
	"items": [
	   {
		"name": "Biogeography",
		"description": "Biogeography is the study of the distribution of species and ecosystems in geographic space and through geological time. Organisms and biological communities often vary in a regular fashion along geographic gradients of latitude, elevation, isolation and habitat area.",
		"type": "group",
		"items": [
		   {
			"name": "Terrestrial Ecoregions",
			"description": "Terrestrial Ecoregions of the World (TEOW) is a bio-geographic regionalization of the Earth's terrestrial biodiversity. TEOW uses ecoregions to represent the original distribution of distinct assemblages of species and communities across the globe.",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
                        "url": "https://geoserver.leylines.ch/geoserver/environment/wms",
                        "layers": "terrestrial_ecoregions",
			"opacity": "1.0",
                        "parameters": {
                                "tiled": true
                        },
                        "dataUrlType": "none"
		   }
		]
	   },
	   {
		"name": "Earth Magnetic Field",
		"description": "Earth's magnetic field (and the surface magnetic field) is approximately a magnetic dipole, with the magnetic field S pole near the Earth's geographic north pole and the other magnetic field N pole near the Earth's geographic south pole.",
		"type": "group",
		"items": [
		   {
			"name": "Historical Track of Poles",
			"description": "Modeled Historical Track of Poles ",
			"dataCustodian": "[maps.ngdc.noaa.gov](https://maps.ngdc.noaa.gov/)",
			"type": "wms",
			"url": "https://gis.ngdc.noaa.gov/arcgis/services/historical_declination/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "3",
			"opacity": "1.0",
			"parameters": {
				"tiled": true
			}
		   },
		   {
			"name": "Isogonic Lines (Web Mercator)",
			"description": "Magnetic declination is an important concept for accurate navigation. A compass will always point along the lines of magnetic force (which converge on what are called the magnetic poles). The angle between the direction of force and the direction of the geographic north pole is called the declination. If a compass at your location is pointing to the right of true north, declination is positive or east, and if it points to the left of true north, declination is negative or west. As one moves across the surface of the globe, lines of constant magnetic declination are called isogonic lines.",
			"dataCustodian": "[maps.ngdc.noaa.gov](https://maps.ngdc.noaa.gov/)",
			"type": "wms",
			"url": "https://gis.ngdc.noaa.gov/arcgis/services/historical_declination/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "2",
			"opacity": "1.0",
			"parameters": {
				"tiled": true
			}
		   },
		   {
			"name": "Earth Magnetic Anomaly Grid",
			"description": "EMAG2: Earth Magnetic Anomaly Grid (2-arc-minute resolution) Magnetic anomaly maps provide insight into the subsurface structure and composition of the Earth's crust. Anomalies trending parallel to the isochrons (lines of equal age) in the oceans reveal ...",
			"dataCustodian": "[maps.ngdc.noaa.gov](https://maps.ngdc.noaa.gov/)",
			"type": "wms",
			"url": "https://gis.ngdc.noaa.gov/arcgis/services/EMAG2v3/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "3",
			"opacity": "1.0",
			"parameters": {
				"tiled": true
			}
		   }
		]
	   },
	   {
		"name": "Mines, Deposits and Occurrences",
		"description": "Mines, deposits and occurrences-maps",
		"type": "group",
		"items": [
		   {
			"name": "Mineral Resource Data System",
			"description": "Mineral Resource Data System",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://mrdata.usgs.gov/services/mrds?request=getcapabilities&service=WMS&version=1.1.1&",
			"layers": "mrds",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Rare Earth",
			"description": "Rare Earth",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://mrdata.usgs.gov/services/ree?request=getcapabilities&service=WMS&version=1.1.1&",
			"layers": "ree",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   }
		]
	   },
	   {
		"name": "Historical Natural Hazards",
		"type": "group",
		"items": [
		   {
			"name": "Tsunami Events",
			"description": "Tsunami Events",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/hazards/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "Tsunami Events by Cause/Fatalities",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Significant Earthquakes",
			"description": "Significant Earthquakes",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/hazards/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "Significant Earthquakes",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Significant Volcanic Eruptions",
			"description": "Significant Volcanic Eruptions",
			"dataCustodian": "[mrdata.usgs.gov](https://mrdata.usgs.gov)",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/hazards/MapServer/WMSServer?request=GetCapabilities&service=WMS",
			"layers": "Significant Volcanic Eruptions",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   }
		]
	   },
	   {
		"name": "Earthquakes",
		"description": "The USGS Earthquake Hazards Program is part of the <a href='http://www.nehrp.gov/'>National Earthquake Hazards Reduction Program (NEHRP)</a>, established by Congress in 1977.",
		"type": "group",
		"items": [
		   {
			"name": "Past 7 Days, M1.0+ Earthquakes ",
			"description": "Colored by Depth, Animated",
			"dataCustodian": "[earthquake.usgs.gov](https://earthquake.usgs.gov)",
			"type": "kml",
			"url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/1.0_week_depth_animated.kml"
		   },
		   {
			"name": "Past 30 Days, M2.5+ Earthquakes",
			"description": "Colored by Depth, Animated",
			"dataCustodian": "[earthquake.usgs.gov](https://earthquake.usgs.gov)",
			"type": "kml",
			"url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_month_depth_animated.kml"
		   }
		]
	   },
	   {
		"name": "Geology",
		"description": "Geology is an earth science concerned with the solid Earth, the rocks of which it is composed, and the processes by which they change over time. Geology can also refer to the study of the solid features of any terrestrial planet or natural satellite.",
		"type": "group",
		"items": [
		   {
			"name": "Paleo Plate Tectonics",
			"description": "Coastlines from 20 to 200Ma years ago",
			"type": "group",
			"items": [
			   {
				"name": "20Ma years ago",
				"description": "Coastlines 20Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=20"
		 	   },
			   {
				"name": "40Ma years ago",
				"description": "Coastlines 40Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=40"
		 	   },
			   {
				"name": "60Ma years ago",
				"description": "Coastlines 60Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=60"
		 	   },
			   {
				"name": "80Ma years ago",
				"description": "Coastlines 80Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=80"
		 	   },
			   {
				"name": "100Ma years ago",
				"description": "Coastlines 100Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=100"
		 	   },
			   {
				"name": "120Ma years ago",
				"description": "Coastlines 120Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=120"
		 	   },
			   {
				"name": "140Ma years ago",
				"description": "Coastlines 140Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=140"
		 	   },
			   {
				"name": "160Ma years ago",
				"description": "Coastlines 160Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=160"
		 	   },
			   {
				"name": "180Ma years ago",
				"description": "Coastlines 180Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=180"
		 	   },
			   {
				"name": "200Ma years ago",
				"description": "Coastlines 200Ma years ago",
				"dataCustodian": "[portal.gplates.org/](http://portal.gplates.org/)",
				"type": "geojson",
				"url": "https://gws.gplates.org/reconstruct/coastlines?time=200"
		 	   }
			]
		   },
		   {
			"name": "World CGMW 1:50M",
			"type": "group",
			"items": [
			   {
				"name": "Geological Units Onshore",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_GeologicalUnitsOnshore",
				"parameters": {
					"tiled": true
				}
			   },
			   {
				"name": "Geological Units Offshore",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_GeologicalUnitsOffshore",
				"parameters": {
					"tiled": true
				}
		 	   },
			   {
				"name": "Oceanic Plateau",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_OceanicPlateau",
				"parameters": {
					"tiled": true
				}
		 	   },
			   {
				"name": "Over Features",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_OverFeatures",
				"parameters": {
					"tiled": true
				}
		 	   },
			   {
				"name": "Structural",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "World_CGMW_50M_Structural",
				"parameters": {
					"tiled": true
				}
		 	   }
			]
		   },
		   {
			"name": "Eurasia CGMW 1:12,5M",
			"type": "group",
			"items": [
			   {
				"name": "Geological Units",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "Eurasia_CGMW_12500K_GeologicalUnits",
				"parameters": {
					"tiled": true
				}
			   },
			   {
				"name": "Over Features",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "Eurasia_CGMW_12500K_OverFeatures",
				"parameters": {
					"tiled": true
				}
			   },
			   {
				"name": "Structural",
				"dataCustodian": "[mapsref.brgm.fr](https://mapsref.brgm.fr)",
				"type": "wms",
				"url": "https://mapsref.brgm.fr/wxs/1GG/CGMW_Bedrock_and_Structural_Geology?",
				"layers": "Eurasia_CGMW_12500K_Structural",
				"parameters": {
					"tiled": true
				}
		 	   }
			]
		   }
		]
	   },
	   {
		"name": "Volcanos",
		"type": "group",
		"items": [
		   {
			"name": "Volcano Database",
			"description": "<img src='images/catalog/volcano.jpg' width='100%' alt='Volcano'><br/>Volcano Database",
			"dataCustodian": "[www.ngdc.noaa.gov](https://www.ngdc.noaa.gov)",
			"type": "czml",
			"url": "/api/sites/environment/volcanos"
		   },
		   {
			"name": "Volcanic Activity",
			"description": "USGS Weekly Volcanic Activity Report",
			"dataCustodian": "[volcano.si.edu](http://volcano.si.edu)",
			"type": "kmz",
			"url": "http://www.volcano.si.edu/news/WeeklyVolcanoGE-Reports.kmz"
		   }
		]
	   },
	   {
		"name": "Weather, Water & Ice",
		"type": "group",
		"items": [
		   {
			"name": "Rivers",
			"description": "Rivers",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://geoserver.leylines.ch/geoserver/environment/wms",
			"layers": "rivers",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Sea Surface Water Temperature - Global (deg. F)",
			"description": "Sea Surface Water Temperature - Global (deg. F)",
			"dataCustodian": "[nowcoast.noaa.gov](https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast)",
			"type": "esri-mapServer",
			"url": "https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast/analysis_ocean_sfc_sst_time/MapServer"
		   },
		   {
			"name": "Surface Water Currents w/Speed",
			"description": "Surface Water Currents w/Speed",
			"dataCustodian": "[nowcoast.noaa.gov](https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast)",
			"type": "wms",
			"layers": "9",
			"url": "https://nowcoast.noaa.gov/arcgis/services/nowcoast/guidance_model_ocean_grtofs_time/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.3.0",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Surface Water Currents w/Water Temperature",
			"description": "Surface Water Currents w/Water Temperature",
			"dataCustodian": "[nowcoast.noaa.gov](https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast)",
			"type": "wms",
			"layers": "5",
			"url": "https://nowcoast.noaa.gov/arcgis/services/nowcoast/guidance_model_ocean_grtofs_time/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.3.0",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Surface Water Currents w/Salinity",
			"description": "Surface Water Currents w/Salinity",
			"dataCustodian": "[nowcoast.noaa.gov](https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast)",
			"type": "wms",
			"layers": "1",
			"url": "https://nowcoast.noaa.gov/arcgis/services/nowcoast/guidance_model_ocean_grtofs_time/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.3.0",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
		   {
			"name": "Antarctic Ice Shelves",
			"description": "Antarctic Ice Shelves",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://geoserver.leylines.ch/geoserver/environment/wms",
			"layers": "antarctic_ice_shelves",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   },
	   	   {
			"name": "Weather Satellite Imagery",
			"type": "group",
			"items": [
			   {
				"name": "Global Shortwave Infrared Mosaic",
				"description": "Global Shortwave Infrared Mosaic",
				"dataCustodian": "[nowcoast.noaa.gov](https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast)",
				"type": "wms",
				"layers": "1",
				"url": "https://nowcoast.noaa.gov/arcgis/services/nowcoast/sat_meteo_imagery_time/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.3.0",
				"parameters": {
					"tiled": true
				},
				"dataUrlType": "none"
			   },
			   {
				"name": "Global Longwave Infrared Mosaic",
				"description": "Global Longwave Infrared Mosaic",
				"dataCustodian": "[nowcoast.noaa.gov](https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast)",
				"type": "wms",
				"layers": "5",
				"url": "https://nowcoast.noaa.gov/arcgis/services/nowcoast/sat_meteo_imagery_time/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.3.0",
				"parameters": {
					"tiled": true
				},
				"dataUrlType": "none"
			   },
			   {
				"name": "Global Visible Imagery Mosaic",
				"description": "Global Visible Imagery Mosaic",
				"dataCustodian": "[nowcoast.noaa.gov](https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast)",
				"type": "wms",
				"layers": "9",
				"url": "https://nowcoast.noaa.gov/arcgis/services/nowcoast/sat_meteo_imagery_time/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.3.0",
				"parameters": {
					"tiled": true
				},
				"dataUrlType": "none"
			   }
			]
		   },
	   	   {
			"name": "Hurricanes, Cyclones, Storms",
			"type": "group",
			"items": [
			   {
				"name": "Storms",
				"description": "Hurricane Model Plots",
				"dataCustodian": "https://www.sfwmd.gov",
				"type": "kml",
				"url": "geo-data/storms/storm_all.kml",
				"dataUrlType": "none"
			   },
			   {
				"name": "Watches, Warnings, Advisories, and Statements for Long-Duration Hazards",
				"description": "Watches, Warnings, Advisories, and Statements for Long-Duration Hazards",
				"dataCustodian": "[nowcoast.noaa.gov](https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast)",
				"type": "wms-getCapabilities",
				"url": "https://nowcoast.noaa.gov/arcgis/services/nowcoast/wwa_meteoceanhydro_longduration_hazards_time/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.3.0",
				"dataUrlType": "none"
			   },
			   {
				"name": "Tropical Cyclone Track and Intensity Forecasts",
				"description": "Tropical Cyclone Track and Intensity Forecasts",
				"dataCustodian": "[nowcoast.noaa.gov](https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast)",
				"type": "wms-getCapabilities",
				"url": "https://nowcoast.noaa.gov/arcgis/services/nowcoast/wwa_meteocean_tropicalcyclones_trackintensityfcsts_time/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.3.0",
				"dataUrlType": "none"
			   }
			]
		   },
		   {
			"name": "Glaciated Areas",
			"description": "Glaciated Areas",
			"dataCustodian": "[www.leylines.ch](http://www.leylines.ch/index.html#contact)",
			"type": "wms",
			"url": "https://geoserver.leylines.ch/geoserver/environment/wms",
			"layers": "glaciated_areas",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "none"
		   }
		]
	   },
	   {
		"name": "Misc",
		"type": "group",
		"items": [
		   {
			"name": "Age of the Oceanic Lithosphere",
			"dataCustodian": "https://maps.ngdc.noaa.gov/",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/seafloor_age/MapServer/WMSServer",
			"layers": "Age of Oceanic Lithosphere - millions of years",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "https://www.ngdc.noaa.gov/mgg/ocean_age/ocean_age_2008.html"
		   },
		   {
			"name": "Plate Boundaries - UTIG",
			"description": "Plate Boundaries - UTIG",
			"dataCustodian": "https://maps.ngdc.noaa.gov/",
			"type": "wms",
			"url": "https://maps.ngdc.noaa.gov/arcgis/services/web_mercator/seafloor_age/MapServer/WMSServer",
			"layers": "Plate Boundaries - UTIG",
			"parameters": {
				"tiled": true
			},
			"dataUrlType": "https://www.ngdc.noaa.gov/mgg/ocean_age/ocean_age_2008.html"
		   },
		   {
			"name": "Storms",
			"description": "Hurricane Model Plots",
			"dataCustodian": "https://www.sfwmd.gov",
			"type": "kml",
			"url": "geo-data/storms/storm_all.kml",
			"dataUrlType": "none"
		   },
		   {
			"name": "World Cable Map (Greg's Cable Map)",
			"description": "Greg's Cable Map is an attempt to consolidate all the available information about the undersea communications infrastructure.",
			"dataCustodian": "http://www.cablemap.info/",
			"type": "kml",
			"url": "http://www.cablemap.info/cablemap.info.aspx",
			"dataUrlType": "none"
		   }
		]
	   }
	]
     },
