        {
          "items": [
            {
              "layers": "mybroadband:MyBroadband_Map",
              "parameters": {
                "tiled": true
              },
              "dataUrlType": "none",
              "clipToRectangle": true,
              "description": "[MyBroadband Map](https://www.mybroadband.communications.gov.au)",
              "name": "Broadband Map",
              "rectangle": [
                96.79939,
                -43.59821,
                153.63925,
                -9.21592
              ],
              "dataCustodian": "[Department of Communications](http://www.communications.gov.au/)",
              "url": "https://programs.communications.gov.au/geoserver/ows",
              "type": "wms",
              "info": [
                {
                  "name": "Licence",
                  "content": "[Creative Commons Attribution 3.0 Australia (CC BY 3.0 AU)](http://creativecommons.org/licenses/by/3.0/au/)"
                }
              ]
            },
            {
              "layers": "mybroadband:MyBroadband_Availability",
              "parameters": {
                "tiled": true
              },
              "dataUrlType": "none",
              "clipToRectangle": true,
              "description": "[MyBroadband Availability Map](https://www.mybroadband.communications.gov.au)",
              "name": "Broadband Availability",
              "rectangle": [
                96.79939,
                -43.59821,
                153.63925,
                -9.21592
              ],
              "dataCustodian": "[Department of Communications](http://www.communications.gov.au/)",
              "url": "https://programs.communications.gov.au/geoserver/ows",
              "type": "wms",
              "info": [
                {
                  "name": "Licence",
                  "content": "[Creative Commons Attribution 3.0 Australia (CC BY 3.0 AU)](http://creativecommons.org/licenses/by/3.0/au/)"
                }
              ]
            },
            {
              "layers": "mybroadband:MyBroadband_Availability_no_outline",
              "parameters": {
                "tiled": true
              },
              "dataUrlType": "none",
              "clipToRectangle": true,
              "description": "[MyBroadband Availability Map](https://www.mybroadband.communications.gov.au)",
              "name": "Broadband Availability no Borders",
              "rectangle": [
                96.79939,
                -43.59821,
                153.63925,
                -9.21592
              ],
              "dataCustodian": "[Department of Communications](http://www.communications.gov.au/)",
              "url": "https://programs.communications.gov.au/geoserver/ows",
              "type": "wms",
              "info": [
                {
                  "name": "Licence",
                  "content": "[Creative Commons Attribution 3.0 Australia (CC BY 3.0 AU)](http://creativecommons.org/licenses/by/3.0/au/)"
                }
              ]
            },
            {
              "layers": "mybroadband:MyBroadband_Quality",
              "parameters": {
                "tiled": true
              },
              "dataUrlType": "none",
              "clipToRectangle": true,
              "description": "[MyBroadband Quality Map](https://www.mybroadband.communications.gov.au)",
              "name": "Broadband Quality",
              "rectangle": [
                96.79939,
                -43.59821,
                153.63925,
                -9.21592
              ],
              "dataCustodian": "[Department of Communications](http://www.communications.gov.au/)",
              "url": "https://programs.communications.gov.au/geoserver/ows",
              "type": "wms",
              "info": [
                {
                  "name": "Licence",
                  "content": "[Creative Commons Attribution 3.0 Australia (CC BY 3.0 AU)](http://creativecommons.org/licenses/by/3.0/au/)"
                }
              ]
            },
            {
              "layers": "mybroadband:MyBroadband_ADSL_Quality",
              "parameters": {
                "tiled": true
              },
              "dataUrlType": "none",
              "clipToRectangle": true,
              "description": "[MyBroadband ADSL Quality Map](https://www.mybroadband.communications.gov.au)",
              "name": "Broadband ADSL Quality",
              "rectangle": [
                96.79939,
                -43.59821,
                153.63925,
                -9.21592
              ],
              "dataCustodian": "[Department of Communications](http://www.communications.gov.au/)",
              "url": "https://programs.communications.gov.au/geoserver/ows",
              "type": "wms",
              "info": [
                {
                  "name": "Licence",
                  "content": "[Creative Commons Attribution 3.0 Australia (CC BY 3.0 AU)](http://creativecommons.org/licenses/by/3.0/au/)"
                }
              ]
            },
            {
              "layers": "mybroadband:MyBroadband_ADSL_Quality_no_outline",
              "parameters": {
                "tiled": true
              },
              "dataUrlType": "none",
              "clipToRectangle": true,
              "description": "[MyBroadband ADSL Quality Map](https://www.mybroadband.communications.gov.au)",
              "name": "Broadband ADSL Quality no Borders",
              "rectangle": [
                96.79939,
                -43.59821,
                153.63925,
                -9.21592
              ],
              "dataCustodian": "[Department of Communications](http://www.communications.gov.au/)",
              "url": "https://programs.communications.gov.au/geoserver/ows",
              "type": "wms",
              "info": [
                {
                  "name": "Licence",
                  "content": "[Creative Commons Attribution 3.0 Australia (CC BY 3.0 AU)](http://creativecommons.org/licenses/by/3.0/au/)"
                }
              ]
            },
            {
              "layers": "mybroadband:MyBroadband_ADSL_Availability",
              "parameters": {
                "tiled": true
              },
              "dataUrlType": "none",
              "clipToRectangle": true,
              "description": "[MyBroadband ADSL Availability Map](https://www.mybroadband.communications.gov.au)",
              "name": "Broadband ADSL Availability",
              "rectangle": [
                96.79939,
                -43.59821,
                153.63925,
                -9.21592
              ],
              "dataCustodian": "[Department of Communications](http://www.communications.gov.au/)",
              "url": "https://programs.communications.gov.au/geoserver/ows",
              "type": "wms",
              "info": [
                {
                  "name": "Licence",
                  "content": "[Creative Commons Attribution 3.0 Australia (CC BY 3.0 AU)](http://creativecommons.org/licenses/by/3.0/au/)"
                }
              ]
            },
            {
              "layers": "mybroadband:MyBroadband_ADSL_Availability_no_outline",
              "parameters": {
                "tiled": true
              },
              "dataUrlType": "none",
              "clipToRectangle": true,
              "description": "[MyBroadband ADSL Availability Map](https://www.mybroadband.communications.gov.au)",
              "name": "Broadband ADSL Availability no Borders",
              "rectangle": [
                96.79939,
                -43.59821,
                153.63925,
                -9.21592
              ],
              "dataCustodian": "[Department of Communications](http://www.communications.gov.au/)",
              "url": "https://programs.communications.gov.au/geoserver/ows",
              "type": "wms",
              "info": [
                {
                  "name": "Licence",
                  "content": "[Creative Commons Attribution 3.0 Australia (CC BY 3.0 AU)](http://creativecommons.org/licenses/by/3.0/au/)"
                }
              ]
            },
            {
              "name": "Mobile Black Spot Database",
              "type": "ckan-resource",
              "url": "https://data.gov.au",
              "datasetId": "community-reports-of-poor-or-no-mobile-coverage",
              "resourceId": "6253b341-ac24-4b70-be8a-69abe4d7f72c",
              "itemProperties": {
                "opacity": 1.0,
                "clipToRectangle": true
              }
            },
            {
              "name": "Mobile Black Spot Programme - Funded Base Stations",
              "type": "ckan-resource",
              "url": "https://data.gov.au",
              "datasetId": "mobile-black-spot-programme-funded-base-stations",
              "resourceId": "597dfa80-bd00-42eb-8f56-f1d9828f6724",
              "itemProperties": {
                "opacity": 1.0,
                "clipToRectangle": true
              }
            },
            {
                "name": "ABC Photo Stories (2009-2014)",
                "type": "csv",
                "url": "http://data.gov.au/dataset/3fd356c6-0ad4-453e-82e9-03af582024c3/resource/d73f2a2a-c271-4edd-ac45-25fd7ad2241f/download/localphotostories20092014csv.csv",
                "featureInfoTemplate": {
                    "template": "<div class='abc'><small>{{Date}}</small>{{#Primary image}}<figure><img src='{{Primary image}}'/><figcaption>{{Primary image caption}}</figcaption></figure>{{/Primary image}}<p><a target='_blank' href={{URL}}>Read More</a></div>"
                },
                "tableStyle": {
                    "dataVariable": "State",
                    "timeColumn": null
                }
            },
            {
                "name": "ABC Photo Stories by date",
                "type": "csv",
                "url": "http://data.gov.au/dataset/3fd356c6-0ad4-453e-82e9-03af582024c3/resource/d73f2a2a-c271-4edd-ac45-25fd7ad2241f/download/localphotostories20092014csv.csv",
                "featureInfoTemplate": {
                    "template": "<div class='abc'><small>{{Date}}</small>{{#Primary image}}<figure><img src='{{Primary image}}'/><figcaption>{{Primary image caption}}</figcaption></figure>{{/Primary image}}<p><a target='_blank' href={{URL}}>Read More</a></div>"
                },
                "tableStyle": {
                    "dataVariable": "State",
                    "displayDuration": 1440
                }
            },
            {
                "id": "54a553a0",
                "name": "Radio Licenses - ACMA",
                "layers": "acma_licenses,acma_sites",
                "url": "http://geo-prototype1.aremi.nicta.com.au/geoserver/acma/wms",
                "type": "wms",
                "opacity": 1.0,
                "legendUrl": "http://geo-prototype1.aremi.nicta.com.au/geoserver/acma/ows?service=WMS&request=GetLegendGraphic&width=20&height=20&layer=acma_sites&format=image%2Fpng&.png",
                "parameters": {
                  "feature_count": 2001
                },
                "dataUrl": "http://geo-prototype1.aremi.nicta.com.au/geoserver/acma/wfs?service=WFS&request=GetFeature&typeName=acma%3Aacma_licenses&version=1.1.0&outputFormat=JSON&srsName=EPSG%3A4326",
                "dataUrlType": "wfs-complete",
                "featureInfoTemplate" : {
                  "template": "<% include includes/acma_featureinfo %>",
                  "name": "{{#LICENCE_NO}}Licence: {{{LICENSEE}}}, {{PRETTY_FREQ}}{{/LICENCE_NO}}{{^LICENCE_NO}}Site: {{{SITE_NAME}}}{{/LICENCE_NO}}"
                },
                "dataCustodian": "[Australian Communications and Media Authority](http://www.acma.gov.au/)"
            }
          ],
          "type": "group",
          "name": "Communications"
        }
